<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sport.bet.core.mapper.ResourceMapper">

	<resultMap id="ResourceMap" type="com.sport.bet.bean.model.Resource">
		<id column="id" property="id" jdbcType="INTEGER" />
		<id column="name" property="name"/>
		<id column="code" property="code"/>
		<id column="url_365" property="url365"/>
		<id column="url_188" property="url188"/>
	</resultMap>

	<select id="selectByCode" parameterType="java.lang.String" resultMap="ResourceMap">
		select * from resource where code = #{code}
	</select>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="ResourceMap">
		select * from resource where id = #{id}
	</select>

	<select id="selectAll" resultMap="ResourceMap">
		select * from resource
	</select>
    
    <insert id="insert" keyProperty="entity.id" useGeneratedKeys="true">
		insert into resource (name, code, url_365, url_188, create_time)
		values
		(#{entity.name}, #{entity.code}, #{entity.url365}, #{entity.url188}, now())
	</insert>
	
	<insert id="insertByBatch" keyProperty="id" useGeneratedKeys="true">
        insert into resource (name, code, url_365, url_188, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name}, #{item.code}, #{item.url365}, #{item.url188}, now())
        </foreach>
    </insert>
	
	<update id="truncateTable">
        truncate table resource
    </update>
    
    
    <!--  -->
	<select id="selectIdByName" parameterType="String" resultType="Integer">  
       select * from resource where name = #{name} 
    </select>

</mapper>