<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sport.bet.core.mapper.SportModuleGameMapper">

	<resultMap id="SportModuleGameMap" type="com.sport.bet.bean.model.SportModuleGame">
		<id column="id" property="id"/>
		<id column="resourceId" property="resource_id" />
		<id column="cid" property="cid" />
		<id column="eid" property="eid" />
		<id column="sportGroupId" property="sport_group_id" />
		<id column="teamName1" property="team_name1" />
		<id column="teamName2" property="team_name2" />
		<id column="deailPd" property="deail_pd" />
		<id column="gameTime" property="game_time" />
		<id column="gameType" property="game_type" />
	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="SportModuleGameMap">
		select * from sport_module_game_${tableName}
		where id = #{id}
	</select>

	<select id="selectAll" resultMap="SportModuleGameMap">
		select * from sport_module_game_${tableName}
	</select>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into sport_module_game_${tableName}
		(resource_id, cid, eid, sport_group_id, team_name1, team_name2, deail_pd, game_time,game_type, create_time)
		values
		(#{entity.resourceId}, #{entity.cid}, #{entity.eid}, #{entity.sportGroupId}, #{entity.teamName1}, #{entity.teamName2},
		 #{entity.deailPd}, #{entity.gameTime}, #{entity.gameType}, now())
	</insert>
	
	
	<insert id="insertByBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sport_module_game_${tableName}
		(resource_id, cid, eid, sport_group_id, team_name1, team_name2, deail_pd, game_time,game_type, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.resourceId}, #{item.cid}, #{item.eid}, #{item.sportGroupId}, #{item.teamName1}, #{item.teamName2},
		 		#{item.deailPd}, #{item.gameTime}, #{item.gameType}, now())
        </foreach>
    </insert>
    
    <update id="truncateTable">
        truncate table sport_module_game_${tableName}
     </update>


</mapper>