<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sport.bet.core.mapper.SportModuleMapper">

	<resultMap id="SportModuleMap" type="com.sport.bet.bean.model.SportModule">
		<id column="id" property="id"/>
		<id column="resource_id" property="resourceId" />
		<id column="cid" property="cid" />
		<id column="group_name" property="groupName" />
	</resultMap>
	
	<select id="selectById" parameterType="java.lang.Integer" resultMap="SportModuleMap">
		select id, resource_id, cid, group_name from sport_module_${tableName} where id = #{id}
	</select>

	<select id="selectAll" resultMap="SportModuleMap">
		select id, resource_id, cid, group_name from sport_module_${tableName}
	</select>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into sport_module_${tableName}
		(resource_id, cid, group_name, game_lines_pd, create_time)
		values
		(#{entity.resourceId}, #{entity.cid},  #{entity.groupName}, #{entity.gameLinesPd} , now())
	</insert>

	<insert id="insertByBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sport_module_${tableName}
		(resource_id, cid, group_name, game_lines_pd, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
           (#{item.resourceId},  #{item.cid}, #{item.groupName}, #{item.gameLinesPd}, now())
        </foreach>
    </insert>
    
    <update id="truncateTable">
        truncate table sport_module_${tableName}
     </update>
    
</mapper>