<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sport.bet.core.mapper.SportModuleMapper">

	<resultMap id="SportModuleMap" type="com.sport.bet.bean.model.SportModule">
		<id column="id" property="id"/>
		<id column="resourceId" property="resource_id" />
		<id column="groupName" property="group_name" />
		<id column="gameLinesPd" property="game_lines_pd" />
		<id column="firstHalfPd" property="first_half_pd" />
		<id column="secondHalfPd" property="second_half_pd" />
	</resultMap>

	<!-- 保存一个Book -->
	<insert id="insert" keyProperty="sportModule.id" useGeneratedKeys="true">
		insert into sport_module_${tableName}
		(resource_id, group_name, game_lines_pd, first_half_pd, second_half_pd, first_quarter_pd, second_quarter_pd,
		   third_quarter_pd, fourth_quarter_pd, create_time)
		values
		(#{sportModule.resourceId}, #{sportModule.groupName}, #{sportModule.gameLinesPd}, #{sportModule.firstHalfPd}, #{sportModule.secondHalfPd},
		#{sportModule.firstQuarterPd}, #{sportModule.secondQuarterPd}, #{sportModule.thirdQuarterPd}, #{sportModule.fourthQuarterPd} , now())
	</insert>

	<insert id="insertByBatch">
        insert into sport_module_${tableName}
		(resource_id, group_name, game_lines_pd, first_half_pd, second_half_pd, first_quarter_pd, second_quarter_pd,
		   third_quarter_pd, fourth_quarter_pd, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
           (#{item.resourceId}, #{item.groupName}, #{item.gameLinesPd}, #{item.firstHalfPd}, #{item.secondHalfPd},
           #{item.firstQuarterPd}, #{item.secondQuarterPd}, #{item.thirdQuarterPd}, #{item.fourthQuarterPd} , now())
        </foreach>
    </insert>
    
</mapper>