<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sport.bet.core.mapper.SportGameOddsMapper">

	<resultMap id="SportGameOddsMap" type="com.sport.bet.bean.model.SportGameOdds">
		<id column="id" property="id"/>
		<id column="game_id" property="gameId" />
		<id column="cid" property="cid" />
		<id column="eid" property="eid" />
		<id column="score_type" property="scoreType" />
		<id column="score" property="score" />
		<id column="higher" property="higher" />
		<id column="lower" property="lower" />
		<id column="team" property="team" />
		<id column="team2" property="team2" />
		<id column="team_na" property="teamNa" />
		<id column="team_score" property="teamScore" />
		<id column="single_winer_score" property="singleWinerScore" />
	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="SportGameOddsMap">
		select * from sport_game_odds_${tableName}
		where id = #{id}
	</select>

	<select id="selectAll" resultMap="SportGameOddsMap">
		select * from sport_game_odds_${tableName}
	</select>
	
	<select id="selectJoinGameByEidOrGameId" resultMap="SportGameOddsMap">
		SELECT * FROM sport_game_odds_${tableName}  o
		left join sport_module_game_${tableName} g
		<if test="tableName == '188' ">
			on o.eid = g.eid
			where g.eid = #{eid}; 
		</if>
		<if test="tableName == '365' ">
			on o.game_id = g.id
			where g.id = #{gameId}; 
		</if>
		
	</select>
	

	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into sport_game_odds_${tableName}
		(game_id, cid, eid, score_type, score, higher, lower, team, team2, team_na, team_score, single_winer_score,create_time)
		values
		  (#{entity.gameId}, #{entity.cid}, #{entity.eid}, #{entity.scoreType}, #{entity.score}, #{entity.higher},
		 		#{entity.lower}, #{entity.team}, #{entity.team2},#{entity.teamNa},  #{entity.teamScore},  #{entity.singleWinerScore}, now())
	</insert>
	
	<insert id="insertByBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sport_game_odds_${tableName}
		(game_id, cid, eid, score_type, score, higher, lower, team, team2, team_na, team_score, single_winer_score,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.gameId}, #{item.cid}, #{item.eid}, #{item.scoreType}, #{item.score}, #{item.higher},
		 		#{item.lower}, #{item.team}, #{item.team2}, #{item.teamNa},  #{item.teamScore},  #{item.singleWinerScore}, now())
        </foreach>
    </insert>
    
     <update id="truncateTable">
        truncate table sport_game_odds_${tableName}
     </update>

</mapper>