<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sport.bet.core.mapper.SportGameOddsMapper">

	<resultMap id="SportGameOddsMap" type="com.sport.bet.bean.model.SportGameOdds">
		<id column="id" property="id"/>
		<id column="gameId" property="game_id" />
		<id column="cid" property="cid" />
		<id column="eid" property="eid" />
		<id column="scoreType" property="score_type" />
		<id column="score" property="score" />
		<id column="higher" property="higher" />
		<id column="lower" property="lower" />
		<id column="team" property="team" />
		<id column="teamNa" property="team_na" />
		<id column="teamScore" property="team_score" />
		<id column="singleWinerScore" property="single_winer_score" />
	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="SportGameOddsMap">
		select * from sport_game_odds_${tbName}
		where id = #{id}
	</select>

	<select id="selectAll" resultMap="SportGameOddsMap">
		select * from sport_game_odds_${tableName}
	</select>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into sport_game_odds_${tableName}
		(game_id, cid, eid, score_type, score, higher, lower, team, team_na, team_score, single_winer_score,create_time)
		values
		  (#{entity.gameId}, #{entity.cid}, #{entity.eid}, #{entity.scoreType}, #{entity.score}, #{entity.higher},
		 		#{entity.lower}, #{entity.team}, #{entity.teamNa},  #{entity.teamScore},  #{entity.singleWinerScore}, now())
	</insert>
	
	<insert id="insertByBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sport_game_odds_${tableName}
		(game_id, cid, eid, score_type, score, higher, lower, team, team_na, team_score, single_winer_score,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.gameId}, #{item.cid}, #{item.eid}, #{item.scoreType}, #{item.score}, #{item.higher},
		 		#{item.lower}, #{item.team}, #{item.teamNa},  #{item.teamScore},  #{item.singleWinerScore}, now())
        </foreach>
    </insert>
    
     <update id="truncateTable">
        truncate table sport_game_odds_${tableName}
     </update>

</mapper>